﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="Principal.aspx.vb" Inherits="Principal" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        Usuario:
        <asp:Label ID="lblUsuario" runat="server"></asp:Label>
    </p>

    <p>
        &nbsp;</p>
        <p>
        <asp:LinkButton ID="lknSalir" runat="server" Font-Bold="True" Font-Size="Small" 
                ForeColor="#0066CC" PostBackUrl="~/CerrarSession.aspx?Sesion=out">Salir</asp:LinkButton>
    </p>
</asp:Content>

