/* CSS Document */
/*body{padding:0px; margin:0px; background:skyblue; color:#535353; font:10px/12px Tahoma, sans-serif;}*/
body{padding:0px; margin:0px; background:white; border-style:inset; color:Black; font:12px/14px Tahoma, sans-serif;}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px 0px 0px 40px;
}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px; height:0}

/*p a{font:10px/12px Tahoma, sans-serif; color:#315ab4; text-decoration:none;}*/
p a{font:10px/12px Tahoma, sans-serif; color:#00FFFF; text-decoration:none;}
p a:hover{ color:#000; text-decoration:underline;}

.headline{font:12px/12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#315ab4;}

#container{width:775px; position:relative; margin:0 auto;}

/* HEADER */

#header{width:1312px; 
height:216px; 
position:relative; background:url(../images/b_header.jpg) 0 0 no-repeat;
    top: 0px;
    left: 0px;
}
#header img#logo
{
    position:absolute; top:0; left:63px;
    width: 1186px;
    height: 166px;
    margin: 0 auto;
}

#header ul.menu{position:absolute; top:71px; left:31px; width:740px}
#header ul.menu li{height:30px; margin-right:10px; float:left}
#header ul.menu li a{height:30px; display:block; text-indent:-20000px; }
#header ul.menu li a:hover{height:30px;}

/* CONTENT */

#content{width:714px; position:relative; clear:both; padding-top:14px; margin-left:31px}

#leftPan{width:219px; float:left; margin:0 28px 0 0; display:inline; background:#f7f7f5}
#rightPan{width:467px; float:left;}

#content ul li{font:10px/14px Tahoma, sans-serif; background:url(../images/arrow1.gif) 0 5px no-repeat; padding-left:11px; height:18px;}
#content ul li a{color:#00FFFF; text-decoration:underline;}
#content ul li a:hover{color:#00FFFF; text-decoration:none;}

/* FOOTER */

#footer{height:48px; clear:both; width:775px; border-top:#e8eaf1 4px solid}
#footer p{padding: 10px 0 0 0; font:10px/14px Tahoma, sans-serif; font-weight:normal; text-align:center; color:#3b3b21;}
#footer p a{font:10px/14px Tahoma, sans-serif; font-weight:normal; color:#3b3b21; text-decoration:none; padding: 0 3px }
#footer p a:hover{text-decoration:underline; color:#3b3b21}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}